<h1>商品一覧</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>ジャンル</th>
      <th>商品名</th>
      <th>価格</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.genre.name %></td>
        <td><%= link_to item.name, admin_item_path(item) %></td>
        <td><%= item.price %></td>
        <td><% if item.is_active == true %>
        販売可能
        <% else %>
        販売不可
        <% end %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>