<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" style="background-color: orange;">
      <!--ここにサイドバー-->
      <%= render 'public/items/sidebar' %>
    </div>
    <div class="col-md-8">
      <div class="row">
       <div class="col-md-12" style="background-color: pink;">
        <p>ようこそ、ながのCAKEへ！<br>
           このサイトは、ケーキ販売のECサイトになります。<br>
           会員でない方も商品の閲覧はできますが、<br>
           購入には会員登録が必要になります。
        </p>
       </div>
      </div>
      <div class="row">
       <div class="cal-md-12" style="background-color: red;">
         <p>新着商品</p>
       </div>
      </div>
    </div>
  </div>
</div>



