<div class="container pt-5">
  <div class="row gy-5" style="display: flex; justify-content: space-between;">
    <div class="col-xs-10 col-xs-offset-1">
      <h3 class="px-4" style="background-color: #543520;">ジャンル編集</h3>
      <%= form_for(@genre, url: admin_genre_path(@genre), method: :patch) do |f| %>
  <div class="form-group mt-5">
    <%= f.label :name, "ジャンル名" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <%= f.submit "更新", class: "btn btn-primary" %>
<% end %>
    </div>
  </div>
</div>  