<h3>ショッピングカート</h3>
<div class="cart">
  <link_to "カートを空にする", public_cart_items_destroy_all_path, class:"btn btn-sm btn-danger",method: :delete,data: { confirm: "本当に空にしますか？" }
</div>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tboby>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.item.with_tax_price.to_s(:delimited) %>円</td>
      <td></td>
    </tr>
  </tboby>
</table>