@use '~bootstrap/scss/bootstrap';

// 全体

body {
  font-family: "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", "Hiragino Maru Gothic W4 JIS2004", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2e0f00;
  font-size: 18px;
  font-weight: 600;
}

h2 {
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", sans-serif;
  font-weight: bold;
  color: #fffdf6;
  border-radius: 10px;
}

h3 {
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", sans-serif;
  font-weight: bold;
  color: #fffdf6;
  border-radius: 10px;
}
h4 {
  font-family: YuGothic, "Yu Gothic Medium", "Yu Gothic", sans-serif;
  font-weight: bold;
  color: #fffdf6;
  border-radius: 10px;
}

a {
  color: #007895;
}

img.header-icon {
  border-radius: 20px;
}

img {
  border-radius: 10px;
}

.bg-866a54 {
  background-color: #866a54;
}

.background-color {
  background-color: #2e0f00;
}

.thead {
  color: #fffdf6;
  background-color: #543520;
}

.table {
  background-color: #c6bbb7;
}

// レイアウト　ヘッダー
header {
  color: #2e0f00;
}

.nav-item {
  color: #fffdf6;
}

a.nav-link {
  color: #fffdf6 !important;
}

.bg-img {
  background-image: url("../../assets/images/header3.jpg");
}

.product-item {
  border-radius: 10px;
  border-color: #2e0f00;
  background-color: #c6bbb7;
}

/*ボタン*/
.btn {
  border-radius: 20px;
}


/*サイドバー*/
.sidebar {
  border-radius: 20px;
  background-color: #c6bbb7;
}

/*ページネーション*/
.page-item.active .page-link{
  background-color: #2e0f00;
  border-color: #2e0f00;
}

.page-link {
  text-decoration: none;
  color: #2e0f00;
}

/* 虫眼鏡のアイコンのスタイル */


/*スライドショー*/
.slideshow-container {
  width: 100%;
  height: 400px;  /* 高さを半分に */
  overflow: hidden;
  position: relative;
}

.slide {
  width: auto;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  position: absolute;
  transition: opacity 1s ease-in-out; /* 切り替わる速度を1秒に設定 */
}

.slide img {
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
  padding: 0;
  border: none;
}

.slide.fade:first-child {
  opacity: 1;
}

.backimage .text {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.backimage .text .guidance {
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 192, 203, 0.7);
  padding: 20px;
  border-radius: 10px;
}